body{
	background-color:#A7EADD;
}

.acceuil {
	width: 100%;
	height: 40%;
	border-style: solid;
	border-width: 5px 5px 5px 5px;
	border-color:black;
}

.acceuil:hover{
	border-color:white;

}

td{
    padding: 0.5%;
}


//couleur mettre en hover trouver couleur