body {
	background-image:url("../images/fondorange.png");
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
	}

header {
	background-image:linear-gradient(#F8DA91 20%, #D8B116 80%);
	}

main {
	border-color:#C8990A;
	background-color: #FCEDC6;
	}

p {
	color:#3F3208;
	text-align: center;
	}

#BarreMenu a {
	color:#5B4A11;
	}

.bouton:hover{
	background-image:linear-gradient(#BEA456 20%, #ffffff 80%);
	}

#BarreMenu li:hover ul {
	background-color: rgba(240, 220, 180, 0.8);
	}

h1{
		text-decoration: none;
		font-size: 50px;
		color:#ED8D32;
}

h3{
		margin-left: 0px;
		text-decoration: none;
		font-size: 25px;
		color:#C86E1A;
		margin-left: 5%;
		text-decoration: underline;
		display: inline;
}

.principal {
   height: 30px;
   overflow: hidden;
   width: 240px;
	 margin-left: 5%;
}

.secondaire {
   height: 30px;
   overflow: hidden;
}

.premier {
	 margin-left: 5%;
	 height: 30px;
	 overflow: hidden;
}

.slash {
		font-size: 27px;
		font-weight: bold;
		color:#C8990A;
}

section {
	border-style: double;
	border-width: 5px;
	border-color:#ED8D32;
	margin: 15px 20px 15px 20px;
}

input[type=submit] {
    width: 150px;
		height: 30px;
		margin-bottom: 15px;
}

input[type=text] {
    width: 200px;
		height: 20px;
		margin-left:10px;
		margin-bottom: 15px;
}

main>p {
	font-size: 25px;
	color:#C86E1A;
}
table {
	border-style:groove;
	border-color:red;
	border-width:5px;
	margin: auto;
}
td {
	border-width:1px;
	text-align: center;
}
td ,th{
	border-style:solid;
	border-color:red;
}
.invisible {border-style: none;}
