main{
    background-color:#ffffff;
}
body {
	background-image:url("../images/fondorange2.png");
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
	}

header {
	background-image:linear-gradient(#EFCF95 20%, #FD803E 80%);
	}

h1,h3{
	color:#E96611;
  text-decoration: none;
}

#BarreMenu a {
	color:#8B3E15;
	}

.bouton:hover{
	background-image:linear-gradient(#F79864 20%, #ffffff 80%);
	}

#BarreMenu li:hover ul {
	background-color: rgba(242, 220, 180, 0.8);
	}

#page-content {
    max-width: 640px;
    display: table;
    margin: 40px auto;
    border:  none;
    background-color: #ffffff;
}

.slider {
    position: relative;
     width: 1000px;
    height: 522px;
    overflow: hidden;
}

.slides {
    -webkit-animation: slider 42s infinite ease-in-out;
    animation: slider 42s infinite ease-in-out; /* nombre de slide * temps par slide, ici on choissis de passer 4s par slide donc 4 slides * 4s = 16s*/
    position: absolute;
    left:0; top:0;
    width: 600%; /* nombre de slides * 100%, ici 4 donc 400% */
}

.slides img {
    display: inline-block;
}


@keyframes slider {
   0%           { left: 0%; }
    14%          { left: -100%; }
    28%          { left: -200%; }
    42%          { left: -300%; }
    56%          { left: -400%; }
    70%          { left: -500%; }
    84%          { left: -600%; }
    100%         { left: 0%; }


}
