body {
	background-image:url("../images/fondvert.png");
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
	}

header {
	background-image:linear-gradient(#70F19B 20%, #01AE3A 80%);
	}

main {
	border-color:#06802E;
	background-color: #C6FCC7;
	}

p {
	color:#0A451E;
	}

#BarreMenu a {
	color:#0A451E;
	}

.bouton:hover{
	background-image:linear-gradient(#77C792 20%, #ffffff 80%);
	}

#BarreMenu li:hover ul {
	background-color: rgba(180, 210, 180, 0.8);
	}

.tilt:hover {
   	background: #29A652;
   	color: #fff;
	}

.tilt {
   	color: #125D19;
	}

section {
		border-style: double;
		border-width: 5px;
		border-color:green;
		margin: 25px 50px 25px 50px;
	}

.lienDebut {
		margin-top: 100px;
	}

h1{
	text-decoration: none;
	font-size: 50px;
	color:#0A451E;
	}

h2{
	text-decoration: none;
	font-size: 40px;
	color:#0A451E;
	text-align: center;
	}
#menu ul {
	display: none; 
	float:left;

}
#menu li ul {
	list-style-type: none; 
	float:right;
	margin: 10px 0px 10px 0%;
	width: 275px; 
	background-color: #E0E0E0;
	
}
.niveau2{padding-right: 275px;}
#menu li:hover ul.niveau2, #menu li li:hover ul.niveau3 {
	display: block
}
#menu img {
	width: 80%;
}
#menu>li>img {
	width: 30%;
}
