body {
	background-image:url("../images/fondbleu.png");
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
	}

header {
	background-image:linear-gradient(#32C6F8 20%, #5C82C3 80%);
	}

main {
	border-color:#488CC8;
	background-color:#C6E5FC; 
	}

section p {
	color:#12598C;
	font-size:25px;
	}

#BarreMenu a {
	color:#005E93;
	}

.bouton:hover{
	background-image:linear-gradient(#70b5ff 20%, #ffffff 80%);
	}

#BarreMenu li:hover ul {
	background-color: rgba(180, 180, 210, 0.8);
	}

.tilt:hover {
	background: #3BB4A9;
	color: #fff;
	}

.tilt {
	color: #005E93;
	}

section {
	border-style: double;
	border-width: 5px;
	border-color: #13578f;
	margin: 25px 50px 25px 50px;
}

.lienDebut {
	margin-top: 100px;
}

h1{
	text-decoration: none;
	font-size: 60px;
	color:#0c75cd;
}

h2 {
	color:#0c75cd;
	text-align:center;
	font-weight:bold;
	font-family:serif;
	font-size:45px;
}

section>p>a {
	color:#3BB4A9;
	text-decoration: none;
	font-weight: bold;
}
