body {
	background-image:url("../images/fondvert2.png");
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
	}

header {
	background-image:linear-gradient(#A3ED56 20%, #559016 80%);
	}

main {
	border-color:#4A682B;
	background-color: #D7FCC6;
	}

p {
	color:#395F12;
	}

#BarreMenu a {
	color:#0A451E;
	}

.bouton:hover{
	background-image:linear-gradient(#8FC037 20%, #ffffff 80%);
	}

#BarreMenu li:hover ul {
	background-color: rgba(200, 230, 180, 0.8);
	}

h1{
		text-decoration: none;
		font-size: 65px;
   	color: #125D19;
}

h2 {
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	font-family:serif;
	font-size:40px;
	color: #125D19;
}

h3 {
	margin-left: 40px;
	color: #125D19;
}

section {
	border-style: double;
	border-width: 5px;
	border-color:#0A451E;
	margin: 15px 20px 15px 20px;
}

input[type=submit] {
    width: 150px;
		height: 30px;
		margin-bottom: 15px;
}

input[type=text] {
    width: 200px;
		height: 20px;
		margin-left:10px;
		margin-bottom: 15px;
}

textarea {
	position: absolute;
	left: 700px;
	margin-top: -200px;
	width: 700px;
	height: 200px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}

.tilt:hover {
   	background: #6E9F3A;
   	color: #fff;
	}

.tilt {
   	color: #125D19;
}
