/*STYLES GENERAUX*/
body {
	margin:0;
	padding:0;
}
header{
	position:fixed;
	width:100%;
	padding:10px;
	height:70px;
	top:0;
	
}

main{
	margin-right:22%;
	margin-left:22%;
	margin-top:100px;
	margin-bottom:100px;
	border-style:solid;
	border-width:5px;
	background-color:#ffffff;
}


li {
	color:#176F8C;
	font-size:20px;
	list-style:none;
}

h1 {
	text-decoration:underline;
	text-align:center;
	font-weight:bold;
	font-family:serif;
	font-size:40px;
}

section p {
	padding: 1%;
	text-decoration:none;
	text-align:center;
	font-family:serif;
	font-size:20px;
}

.important {
	font-weight:bold;
	text-decoration:underline;
}
section {
	margin-right:3%;
	margin-left:3%;
	margin-top:3%;
	margin-bottom:3%;
	border-style:solid;
	border-width:3px;
	background-color:#ffffff;
}

/*BOUTON HAUT DE PAGE*/

#haut ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}
#haut a {
    text-decoration: none;
}
.tilt {
    width: 130px;
    text-align: right;
    display: block;
    transform: rotate(-20deg);
    transition: all 0.5s ease;
    transform-origin: 0 0;
    border-bottom: #000 1px solid;
}
.tilt:hover {
    transform-origin: -30% -30%;
}
footer {
    position: fixed;
    z-index: 200;
    left: -50px;
	bottom:0;
}

/*BARRE_MENU*/

#BarreMenu, #BarreMenu ul {
  padding: 0;
  list-style: none;
}
#BarreMenu {
  text-align: center;
}
#BarreMenu li {
  display: inline-block;
	position:relative;
}
#BarreMenu a {
  	text-decoration: none;
  	display: block;
	font-size:30px;
}
#BarreMenu ul {
 	position: absolute;
 	left: -999em;
	text-align: left;
}
#BarreMenu li:hover ul {
  	left: auto;
}

.bouton:hover{
	background-image:linear-gradient(#70b5ff 20%, #ffffff 80%);
}

#BarreMenu li ul li:hover{
	background-color: rgba(220, 220, 250, 0.8);

}

#BarreMenu li ul li{
	display:block;

}
/*ImageBanière*/

header div img{
    float: left;
	margin-top: -2px;
}

header div div img{
  float: left;
	margin-top: -90px;
	margin-left:15px;
}
